# executable files and ouput directories
run
bin/
obj/
main.cpp
Debug*/
lib/

# eclipse project files
.*project
.settings/

# documentation files
doc/html/

# unit testing files
cute/

# boost files
boost/

# coverage files
*.gcov

# input test data
inputs/
